.reload {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: rgba(222, 219, 219, 0.65);
  background: none;
  transition: color 1s ease;
  font-size: 100px;
  cursor: pointer;

  & > span > svg {
    font-size: 100px;
  }

  &:hover {
    background: none;
    color: #313131;
  }
}